@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* font-family: 'Montserrat', sans-serif; */
* {
    box-sizing: border-box;
    font-family: 'Montserrat', Sans-Serif;
    list-style-type: none;
    list-style-position: inside;
    margin: 0px;
    padding: 0px;
}
/*  */
header {
    padding: 10px;
    position: relative;
}
header > h1 {
    display: inline-block;
}
header > nav.navegacao-do-header {
    display: none;
    position: absolute; right: 10px; top: 20px;
}
header > nav.navegacao-do-header > ul > li {
    display: inline-block;
}
header > nav.navegacao-do-header > ul > li > a {
    color: #000;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    margin: 0px 10px;
    text-decoration: none;
}
header > nav.navegacao-do-header > ul > li > a.botao-header-2 {
    border: 2px solid #11a36a;
    border-radius: 5px;
    color: #11a36a;
    padding: 10px;
}
header > nav.navegacao-do-header > ul > li > a.botao-header-2:hover {
    background: #11a36a;
    color: #fff;
    transition: .5s;
}
/*  */
main > section.secao-1 {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("hero-image.jpg");
    background-position: 0px 0px, 60% 0%;
    background-size: auto, cover;
    color: #fff;
    height: auto;
    padding: 60px 30px 40px;
    width: 100%;
}
main > section.secao-1 > div.container-secao-1 > h1 {
    font-size: 30px;
    line-height: 40px;
    text-align: center;
}
main > section.secao-1 > div.container-secao-1 > p {
    color: #fff;
    font-size: 16px;
    line-height: 21px;
    max-width: 80%;
    margin: 30px auto;
    text-align: center;
}
main > section.secao-1 > div.container-secao-1 > a {
    background: #11a36a;
    border-radius: 5px;
    color: #fff;
    display: block;
    font-size: 14px;
    font-weight: 700;
    margin: 15px auto;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
}
main > section.secao-1 > div.container-secao-1 > a:hover {
    background: #0c754d;
    transition: .5s;
}
/*  */



/* Trabalhando com responsividade */
@media only screen and (min-width: 650px) {
    header > nav.navegacao-do-header {
        display: inline-block;
    }
}