h1, p {
    text-align: center;
}

li:hover {
    background: tan;
    transition: 2s;
}

ul {
    list-style: none;
}

li:active {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}